*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}
.Container__Home{
}
.bg__Video{
    /* position: absolute; */
}
Video{
    background: black;
    width: 100%;
    height: 100vh;
}


@media only screen and (max-width: 1110px) {
.Container__Home{
    width: 100vw;
    overflow-x: hidden;
}
Video{
    background: black;
    width: auto;
    height: 100vh;
    overflow-x: hidden;
}
}

#mainNav {
	display: flex;
	justify-content: space-between;
	padding:  0px 16px;
	position: fixed;
	width: 100%;
    height: 8vh;
	top: 0;
	/* background-color: #eee; */
	transition: background 0.4s;
}

#mainNav ul {
	display: flex;
	align-items: center;
	width: 400px;
	justify-content: space-around;
}

#mainNav ul li a {
	color: #fff;
	font-weight: 500;
	transition: color 0.4s;
}
