*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}
.Container__Home{
}
.bg__Video{
    /* position: absolute; */
}
Video{
    background: black;
    width: 100%;
    height: 100vh;
}


@media only screen and (max-width: 1110px) {
.Container__Home{
    width: 100vw;
    overflow-x: hidden;
}
Video{
    background: black;
    width: auto;
    height: 100vh;
    overflow-x: hidden;
}
}

#mainNav {
	display: flex;
	/* justify-content: ; */
	padding:  0px 16px;
	position: fixed;
	width: 100%;
    height: 8vh;
	top: 0;
	/* background-color: #eee; */
	transition: background 0.4s;
}

#mainNav ul {
	display: flex;
	align-items: center;
	width: 400px;
	justify-content: space-around;
}

#mainNav ul li a {
	color: #fff;
	font-weight: 500;
	transition: color 0.4s;
}
#nav-btn{
	display: flex;
	margin-left: auto;
	text-align: center;
}
.menu-icon i{
	display: none;
}
@media only screen and (max-width: 655px) {
	.menu-icon i{
		font-size: 2em;
		text-align: center;
		color: #fff;
		margin-top:1.5rem;
		margin-left: 0.5rem;
		display: block;
	}
  }

  .logo{
	margin-top:1rem ;
  }
  .logo img{
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
  }


  /* ******************** dark mode **************************Û¸ */

  .switch {
	--glow-color: rgb(217, 176, 255);

	margin-top: 1.2rem;
	margin-left: auto;
	width: 80px;
	height: 40px;
	border: 1px solid var(--glow-color);
	border-radius: 20px;
	background-color: transparent;
	position: relative;
  }
  
  .flicker {
	width: 30px;
	height: 30px;
	border-radius: 15px;
	background-color: rgb(255, 255, 255);
	position: absolute;
	top: 5px;
	left: 5px;
	transition: 0.3s;
	box-shadow: inset 4px 4px 4px rgb(255, 255, 255),
	  inset -4px -4px 4px rgb(195 193 198 / 90%);
  }
  
  .dark {
	background-color: rgba(0, 0, 0, 0.959);
	transition: 0.3s;
  }
  
  .moon {
	width: 20px;
	height: 20px;
	border-radius: 10px;
	box-shadow: 4px 4px 0 0 rgb(255, 255, 255);
	position: absolute;
	top: 5px;
	left: 45px;
  }
  
  .dark .flicker {
	transform: translateX(40px);
  }
  
  .dark > * {
	color: rgb(255, 255, 255);
  }
  /* ***************** end of dark mode ********************* */
/* collapse */
#collapse{
	width: 100%;
}